<h1>{{this.title}}</h1>
<p>{{this.formHelp}}</p>
<form class="form" id="email-form">
  <input
    type="email"
    name="email"
    placeholder="{{this.yourEmail}}"
    class="form__input"
  />
  <textarea
    name="message"
    placeholder="{{this.yourMessage}}"
    class="form__textarea"
    required
  ></textarea>
  <input type="submit" class="nav__button form__button" value="Send" />
</form>
<img src="/resources/img/Ball.svg" class="loading hidden" />
<span class="success">{{this.success}}</span>
<span class="error">{{this.somethingWentWrong}}</span>