<h1>Honest evaluation of my skills</h1>
<ul class="skills-list">
  {{#each this.en.skills}}
    <li class="skills-list__skill">
      <h3>{{this.label}}</h3>
      <ul class="skills-list">
        {{#each this.technologies}}
          <div class="skills-list__technology score-{{this.score}}">
            <p class="technology__score {{#if this.excellence}}excellence{{/if}}" title="{{this.summary}}">
              <span>
              {{this.score}}</span>
              {{this.name}}
            </p>
            <p class="technology__summary">{{this.summary}}</p>
          </div>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>